/// variables
$clr_bg-light: #282c34;
$clr_bg-dark: #21252b;
$clr_bg-select: #323842;
$clr_text-light: #abb2bf;
$clr_text-dark: #6c757d;
$clr_red: #e06c75;
$clr_red-dark: #36292b;
$clr_green: #98c379;
$clr_green-dark: #2e3b39;
$clr_yellow: #e5c07b;
$clr_yellow-dark: #373b34;
$clr_blue: #61afef;
$clr_blue-light: #52acb7;
$clr_blue-dark: #2a3a41;
$clr_purple: #c678dd;
$clr_purple-dark: #373242;
$transition: 0.3s ease;
$font-size: 16px;
$font-primary: 'Inconsolata', monospace;
$font-secondary: 'Karla', sans-serif;
